Django==5.1
djangorestframework==3.15
djangorestframework-simplejwt==5.5.1
psycopg2-binary==2.9
celery==5.5
redis==4.5
django-cors-headers==4.0
python-dotenv==1.0
pytest==7.3
pytest-django==4.5
black==23.3
isort==5.12
